# Backend
backend/CafeBookingAPI/bin/
backend/CafeBookingAPI/obj/
backend/CafeBookingAPI/.vs/
backend/CafeBookingAPI/appsettings.json

# Frontend
frontend/cafe-booking-frontend/node_modules/
frontend/cafe-booking-frontend/dist/

# Environment
.env
